#include "../include/Resources.h"

1 ICON	"../resources/cinder_app_icon.ico"
RES_SKY_VERT_GLSL
RES_SKY_FRAG_GLSL
RES_PASSTHROUGH_VERT_GLSL
RES_BLUR_FRAG_GLSL
RES_MATERIAL_VERT_GLSL
RES_MATERIAL_FRAG_GLSL
RES_METABALL_FRAG_GLSL
RES_SCREEN_FRAG_GLSL
RES_FXAA_FRAG_GLSL
RES_WIREFRAME_FRAG_GLSL
RES_BLOOM_FRAG_GLSL
