#include "../include/Resources.h"

1 ICON	"../resources/cinder_app_icon.ico"
RES_SKY_VERT_GLSL
RES_SKY_FRAG_GLSL
RES_BLUR_VERT_GLSL
RES_BLUR_FRAG_GLSL
RES_MATERIAL_VERT_GLSL
RES_MATERIAL_FRAG_GLSL
RES_METABALL_VERT_GLSL
RES_METABALL_FRAG_GLSL
RES_LIGHT_CLAMP_VERT_GLSL
RES_LIGHT_CLAMP_FRAG_GLSL
RES_BLUR_HORIZONTAL_VERT_GLSL
RES_BLUR_HORIZONTAL_FRAG_GLSL
RES_BLUR_VERTICAL_VERT_GLSL
RES_BLUR_VERTICAL_FRAG_GLSL
RES_SCREEN_VERT_GLSL
RES_SCREEN_FRAG_GLSL
RES_FXAA_VERT_GLSL
RES_FXAA_FRAG_GLSL
