#include "../include/Resources.h"

ICON_IDX ICON "../resources/freeform.ico"
RES_SKY_VERT_GLSL
RES_SKY_FRAG_GLSL
RES_PASSTHROUGH_VERT_GLSL
RES_MATERIAL_VERT_GLSL
RES_MATERIAL_FRAG_GLSL
RES_BRUSH_VERT_GLSL
RES_SCREEN_FRAG_GLSL
RES_WIREFRAME_FRAG_GLSL
RES_BLOOM_FRAG_GLSL
RES_PREVIEWS_FRAG_GLSL

RES_PAINT_SELECTED_PNG
RES_PUSH_SELECTED_PNG
RES_SWEEP_SELECTED_PNG
RES_FLATTEN_SELECTED_PNG
RES_SMOOTH_SELECTED_PNG
RES_SHRINK_SELECTED_PNG
RES_GROW_SELECTED_PNG

RES_STRENGTH_LOW_SELECTED_PNG
RES_STRENGTH_MEDIUM_SELECTED_PNG
RES_STRENGTH_HIGH_SELECTED_PNG

RES_PLASTIC_PNG
RES_PORCELAIN_PNG
RES_STEEL_PNG
RES_CLAY_PNG
RES_GLASS_PNG

RES_FONT_FREIGHTSANS_TTF
RES_FONT_FREIGHTSANSBOLD_TTF

RES_BALL_OBJ
RES_CAN_OBJ
RES_DONUT_OBJ
RES_SHEET_OBJ
RES_CUBE_OBJ

RES_TUTORIAL_1
RES_TUTORIAL_2
RES_TUTORIAL_3
RES_TUTORIAL_4

RES_LOGO_ON_BLACK
RES_LOGO_ON_IMAGE

RES_CREDITS

RES_PREVIEW_JUNGLE_CLIFF
RES_PREVIEW_JUNGLE
RES_PREVIEW_ISLANDS
RES_PREVIEW_REDWOOD
RES_PREVIEW_DESERT
RES_PREVIEW_ARCTIC
RES_PREVIEW_RIVER
